<?xml version="1.0" encoding="utf-8"?>
<!-- Updated 2026-09-10T20:16:30Z -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Program Files\nodejs\node.exe" arguments=".\node_modules\next\dist\bin\next start -p %HTTP_PLATFORM_PORT%" startupTimeLimit="40" startupRetryCount="5" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
<!-- Recycled by AGY at 2026-09-11 06:30:55 -->



